<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/bootstrap.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <title>Upload file</title>
    </head>

    <body>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    Upload files
                    <a class="nav-link" href="/metrics/empl" style="float: right;">Employyes metrics (more than mean)</a> 
                    <a class="nav-link" href="/metrics" style="float: right;">Employees metrics (by department)</a> 
                    
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Select file for load table (csv format)</label>
                            <input type="file" class="form-control" name="upload_file" required>
                        </div>

                        <div class="form-group">
                            <label>Table</label>
                            <select name="type_file" class="form-control">
                                <option value=departments>Departments</option>
                                <option value=hired_employees>Employees</option>
                                <option value=jobs>Jobs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Historical or Batch?</label>
                            <select name="type_load" class="form-control">
                                <option value=append>Batch</option>
                                <option value=replace>Historical</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Load file into table</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', path='/upload/js/jquery-slim.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/popper.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/bootstrap.js') }}"></script>
    </body>

</html>