<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/bootstrap.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <title>Upload file</title>
    </head>

    <body>
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    File uploaded
                </div>
            </div>
            <button class="btn btn-primary hBack" type="button" onclick="history.back()">Back</button>
        </div>
        <script src="{{ url_for('static', path='/upload/js/jquery-slim.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/popper.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/bootstrap.js') }}"></script>
    </body>

</html>