<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/upload/css/bootstrap.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <title>Employees metrics</title>
    </head>

    <body>
    <div class="container">
    <div class="card text-center">
        <div class="card-header">
            Employees metrics
        </div>
        <div class="card-body">
            <h5 class="card-title">Employees hired by quarter</h5>
            <p class="card-text">Number of employees hired for each job and department in 2021 divided by quarter. </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col">Jobs</th>
                    <th scope="col">Q1</th>
                    <th scope="col">Q2</th>
                    <th scope="col">Q3</th>
                    <th scope="col">Q4</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                <tr class="pointer">
                    <td>{{emp.department}}</td>
                    <td>{{emp.jobs}}</td>
                    <td>{{emp.q1}}</td>
                    <td>{{emp.q2}}</td>
                    <td>{{emp.q3}}</td>
                    <td>{{emp.q4}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/upload">Upload Files</a>
</div>
</div>
</div>
        <script src="{{ url_for('static', path='/upload/js/jquery-slim.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/popper.js') }}"></script>
        <script src="{{ url_for('static', path='/upload/js/bootstrap.js') }}"></script>
    </body>

</html>